# Ignore virtual environments
.venv/

# Ignore data folder (datasets, results, etc.)
data/

# Ignore typical OS or editor files
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Ignore log files or temp files
*.log
*.tmp